In [1]:
print('merhaba')

merhaba

In [2]:
print("merhaba")

merhaba

In [3]:
print(""merhaba"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3836089957.py, line 1)

In [4]:
print("""merhaba""")

merhaba

In [5]:
print("""
dfadfshfjhgsdjfgsdfgjdfghsgsdjfhgfdhgjsdfhnfdgfgjfgegsjglksdfhglskfghjfkvjcvbcvjkghfjgdfkgdfgsdfgsdfgsd
      asdfkagjhajkgfhaksfgasfhgjkahsgahfgjhafjghsdfjkgsdü
      sgkhsdfjgsdjfkgsdhjfgsjdf

""")

dfadfshfjhgsdjfgsdfgjdfghsgsdjfhgfdhgjsdfhnfdgfgjfgegsjglksdfhglskfghjfkvjcvbcvjkghfjgdfkgdfgsdfgsdfgsd
      asdfkagjhajkgfhaksfgasfhgjkahsgahfgjhafjghsdfjkgsdü
      sgkhsdfjgsdjfkgsdhjfgsjdf

In [6]:
print('''
dfadfshfjhgsdjfgsdfgjdfghsgsdjfhgfdhgjsdfhnfdgfgjfgegsjglksdfhglskfghjfkvjcvbcvjkghfjgdfkgdfgsdfgsdfgsd
      asdfkagjhajkgfhaksfgasfhgjkahsgahfgjhafjghsdfjkgsdü
      sgkhsdfjgsdjfkgsdhjfgsjdf
''')

dfadfshfjhgsdjfgsdfgjdfghsgsdjfhgfdhgjsdfhnfdgfgjfgegsjglksdfhglskfghjfkvjcvbcvjkghfjgdfkgdfgsdfgsdfgsd
      asdfkagjhajkgfhaksfgasfhgjkahsgahfgjhafjghsdfjkgsdü
      sgkhsdfjgsdjfkgsdhjfgsjdf

In [7]:
print("hello "+"world")

hello world

In [8]:
print("hello", "python", "I'm a developer")

hello python I'm a developer

In [18]:
print("hello", "world", sep="\n")
print("hello", "world", end="\n")

hello
world
hello world

In [24]:
print("hello world " * 10, sep="\n" *10)

hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world

# variables

In [25]:
name = "Ahmet"

In [26]:
print("Hello ", name)

Hello  Ahmet

In [27]:
ahmetAge = 25
mehmetAge = 30

In [28]:
print("Ahmet'in yaşı: ", ahmetAge, "Mehmet'in yaşı: ", mehmetAge, sep="\n")

Ahmet'in yaşı:
25
Mehmet'in yaşı:
30

In [29]:
2mehmetAge = 19

SyntaxError: invalid decimal literal (3334247900.py, line 1)

In [30]:
mehmet_2_age = 19

In [31]:
print(mehmet_2_age)

19

In [32]:
3_kilo_elma = 1000

SyntaxError: invalid decimal literal (3199569930.py, line 1)

In [33]:
elma_3 = 1000
print(elma_3)

1000

In [34]:
turkiye_buyuk_millet_meclisi_milletvekili_sayisi = 600

In [35]:
tbmm_mv_sayisi = 600

In [36]:
+deger = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3897903837.py, line 1)

In [37]:
_deger = 5

In [38]:
print(_deger)

5

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del',
'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal',
'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [39]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [40]:
name-5="ali"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (382602891.py, line 1)

In [41]:
name_5 = "ali"

In [42]:
a = 20
b = 20
c = 20

In [43]:
print(a, b, c)

20 20 20

In [44]:
a = b = c = 30
print(a, b, c)

30 30 30

In [46]:
kisi_1 = "Müdür"
kisi_2 = "Koordinatör"
degisim = ""

In [47]:
degisim = kisi_1
print("değişim:", degisim, "kisi_1:", kisi_1)
kisi_1 = kisi_2
print("kisi_1:", kisi_1, "kisi_2:", kisi_2)
kisi_2 = degisim
print("kisi_2:", kisi_2,"degisim", degisim, "kisi_1:", kisi_1)

değişim: Müdür kisi_1: Müdür
kisi_1: Koordinatör kisi_2: Koordinatör
kisi_2: Müdür degisim Müdür kisi_1: Koordinatör

In [48]:
kisi_1 = "Müdür"
kisi_2 = "Koordinatör"

In [49]:
kisi_1, kisi_2 = kisi_2, kisi_1

print("kisi_1:", kisi_1, "kisi_2:", kisi_2)

kisi_1: Koordinatör kisi_2: Müdür

# Data Types

In [50]:
ahmet = "müdür"

In [51]:
type(ahmet)

str

In [52]:
print(type(ahmet))

<class 'str'>

In [53]:
print(type(3))

<class 'int'>

In [54]:
pi = 3.14

In [55]:
print(type(pi))

<class 'float'>

In [57]:
print(type(False))

<class 'bool'>

In [58]:
a = [5, 6, 7]

In [59]:
print(type(a))

<class 'list'>

# Type Conversion

In [60]:
type(35)

int

In [61]:
str(35)

'35'

In [62]:
print(type(str(35)))

<class 'str'>

In [64]:
print(type(float("25")), float("25"))

<class 'float'> 25.0

In [68]:
degisken = "25"

In [69]:
print(type(degisken))

<class 'str'>

In [70]:
degisken = float(degisken)
print(type(degisken), degisken)

<class 'float'> 25.0

In [65]:
Ali = 30
Omer = 65
Yusuf = 52

In [67]:
print("Ali: ", Ali, "\nÖmer: ", Omer, "\nYusuf: ", Yusuf)

Ali:  30
Ömer:  65
Yusuf:  52

In [72]:
ayse = "Öğretmen"
veli = "Müdür"
ahmet = "müdür yardımcısı"

ayşe müdür yardımcısı, veli öğretmen, ahmet müdür

In [73]:
ayse, veli, ahmet = ahmet, ayse, veli

In [74]:
print(ayse, veli, ahmet)

müdür yardımcısı Öğretmen Müdür

# Aritmetic Operations

In [75]:
3 + 5

8

In [76]:
3 + 5.0

8.0

In [77]:
8 - 2.4

5.6

In [78]:
14 / 7

2.0

In [79]:
14 / 3

4.666666666666667

In [80]:
22 / 7

3.142857142857143

In [81]:
22 // 7

3

In [82]:
20 % 3

2

In [83]:
4 ** 3

64

In [84]:
4 ** 3.0

64.0

In [85]:
4.0 ** 3

64.0

# İşlem Önceliği

1. parantez içi
2. üs alma
3. çarpma bölme
4. toplam çıkarma

In [86]:
x = (2 * 1.5) ** (8 ** (1 * 2 / 2) / 2)

3.0 (8 ** 1 / 2)            3.0 ** 4.0   81.0

In [87]:
print(x)

81.0

In [88]:
y = 25 ** 1 / 2
z = 25 ** (1 / 2)
print(y, z, sep="\n")

12.5
5.0

In [90]:
x = 5
x = 5 + 3

x += 3 # x = x + 3

print(x)

11

In [91]:
2345 + 54355

56700

In [92]:
_

56700

In [93]:
_ + 25

56725

In [94]:
x = 5
x *= 5
print(x)

25

# print() function

In [95]:
print("apple", "banana", "orange")

apple banana orange

In [96]:
print("apple", "banana", "orange", sep="-")

apple-banana-orange

In [98]:
print("apple", "banana", "orange", sep=" ☺ ")

apple ☺ banana ☺ orange

In [99]:
print("apple", "banana", "orange", sep="                              ")

apple                              banana                              orange

In [101]:
print("apple", "banana", "orange", sep="\n")

apple
banana
orange

In [102]:
print("apple", "banana", "orange", sep="\t")

apple	banana	orange

In [103]:
print("apple", "banana", "orange", sep="\b")

applbananorange

In [104]:
print("b", "e", "ş", "i", "k", "t", "a", "ş")

b e ş i k t a ş

In [105]:
print(*"beşiktaş")

b e ş i k t a ş

In [106]:
print(*"TBMM", sep=".")

T.B.M.M

In [107]:
print("TBMM", "meclis", sep=".")

TBMM.meclis

In [108]:
print(*"abcsafişlgjsfgmsdfögsdfmbsdfgklrglaşlfaşsdlgalsdfg", sep="-")

a-b-c-s-a-f-i-ş-l-g-j-s-f-g-m-s-d-f-ö-g-s-d-f-m-b-s-d-f-g-k-l-r-g-l-a-ş-l-f-a-ş-s-d-l-g-a-l-s-d-f-g

# Escape Sequences

In [109]:
print('I'm a student')

SyntaxError: unterminated string literal (detected at line 1) (1608962133.py, line 1)

In [110]:
print('I\'m a student')

I'm a student

In [111]:
print("I'm a student")

I'm a student

In [112]:
print(r'I\'m a student')

I\'m a student

# Comporison Operators

<, >, <=, >=, !=, ==

In [113]:
9 > 8

True

In [114]:
true = 5
print(true)
print(True)

5
True

In [115]:
9 >= 9

True

In [116]:
4 <= 6

True

In [117]:
7 == 7

True

In [118]:
7 == 8

False

In [119]:
7 != 8

True

In [120]:
a = b = 20
a is b

True

# BOOLEAN

In [121]:
bool("125")

True

In [122]:
bool(125)

True

In [123]:
bool(False)

False

In [124]:
bool("False")

True

In [125]:
bool("") # boş

False

In [126]:
bool([])

False

In [127]:
bool("[]")

True

In [128]:
bool("                                   ")

True

In [129]:
bool(0)

False

In [130]:
bool("0")

True

In [131]:
print(bool(False),
      bool(None),
      bool(0),
      bool(""),
      bool(()),
      bool([]),
      bool({}),
      sep="\n"
      )

False
False
False
False
False
False
False

# Logic Expressions

not, and, or

|               işlem önceliği                      |
|---------------------------------------------------|
|1 - not  -- işlem sonucu daima True veya False tur.|
|2 - and                                            |
|3 - or                                             |

# and

Tüm logic ifadelerin hepsi True ise en son(sağdaki) değeri döndürür. Bir tane bile False varsa o False değerini döndürür. Birden fazla False değerinden ilk rastgeldiği ***False*** değerini döndürür.

# or

Tüm logic ifadelerin hepsi False ise en son değeri (sağdaki) döndürür. Bir tane bile True varsa o True değerini döndürür. Birden fazla True değerinden ilk ***True*** değerini döndürür.

In [132]:
5 and 8 or 9

8

not 0 ==> True
True and "logic" ==> "logic"
True or "logic ==> True

In [133]:
True or not 0 and "logic"

True

In [134]:
"logic" or True and not 0

'logic'

In [135]:
not 0 and True and "True" or 0

'True'

In [136]:
not 1 and 0 or 1

1

In [137]:
(1 and not 1) or (1 and 1)

1

In [138]:
(1 and not 0) or (1 and 0)

True

In [139]:
(not 0 or 1) and (1 or 0)

1